<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projetosemestralloja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoSemestralLoja">
        <activity android:name=".ui.FinalizarCompra"></activity>
        <activity android:name=".ui.MenuDrawerActivity" />
        <activity
            android:name=".ui.DetalheProduto"
            android:theme="@style/Theme.ProjetoSemestralLoja.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PaginaCarrinho"
            android:theme="@style/Theme.ProjetoSemestralLoja.NoActionBar" />
        <activity
            android:name=".ui.ProdutoRecycler"
            android:theme="@style/Theme.ProjetoSemestralLoja.NoActionBar" />
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginScreen" />
        <activity
            android:name=".ui.MainActivity2"
            android:theme="@style/Theme.ProjetoSemestralLoja.NoActionBar" />
        <activity android:name=".ui.RedefinirSenha" />
        <activity android:name=".ui.CriarConta" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>