<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetosemestralloja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoSemestralLoja">
        <activity android:name=".MenuDrawerActivity"></activity>
        <activity android:name=".DetalheProduto" />
        <activity
            android:name=".PaginaCarrinho"
            android:theme="@style/Theme.ProjetoSemestralLoja.NoActionBar" />
        <activity android:name=".ProdutoRecycler" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreen" />
        <activity
            android:name=".MainActivity2"
            android:theme="@style/Theme.ProjetoSemestralLoja.NoActionBar" />
        <activity android:name=".RedefinirSenha" />
        <activity android:name=".CriarConta" />
    </application>

</manifest>